.card {
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
  }

  /* no flipped class then we show the back by rotating front 90deg */
  .card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
  }

  /* flipped then we rotate front back to original position */
  .flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
  }


  /* cover (back of card) */
.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

