@font-face {
  font-family: 'Boogaloo';
  font-weight: '400';
  src: url('fonts/boogaloo-regular-webfont.woff2') format('woff2'),
       url('fonts/boogaloo-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Kanit';
  font-weight: '400';
  src: url('fonts/kanit-regular-webfont.woff2') format('woff2'),
       url('fonts/kanit-regular-webfont.woff') format('woff');
}



body {
  margin: 0;
  text-align: center;
  background: #28282B;
  color: #fff;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}


